        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Search scores</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Search scores</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row g-4">
              <!--begin::Col-->
              <div class="col-md-12">
                <!--begin::Quick Example-->
                <div class="card card-primary card-outline mb-4">
                  <!--begin::Header-->
                  <div class="card-header"><div class="card-title">User Registration</div></div>
                  <!--end::Header-->
                  <!--begin::Form-->
                  <%= form_with url: pages_search_score_path, method: :get, local: true do %>
                    <!--begin::Body-->
                    <div class="card-body">
                      <div class="mb-3">
                        <%= label_tag :sbd, "Enter registration number", class: "form-label" %>
                        <%= text_field_tag :sbd, params[:sbd], class: "form-control", placeholder: "Enter registration number", required: true %>
                      </div>
                    </div>
                    <!--end::Body-->
                    <!--begin::Footer-->
                    <div class="card-footer">
                      <%= submit_tag "Submit", class: "btn btn-primary" %>
                    </div>
                    <!--end::Footer-->
                  <% end %>
                  <!--end::Form-->
                </div>
                <!--end::Quick Example-->

                <!--begin::Student Scores Table-->
                <div class="card">
                  <div class="card-header"><h3 class="card-title">Student Score Details</h3></div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Registration ID</th>
                            <th>Math</th>
                            <th>Literature</th>
                            <th>Foreign Language</th>
                            <th>Physics</th>
                            <th>Chemistry</th>
                            <th>Biology</th>
                            <th>History</th>
                            <th>Geography</th>
                            <th>Civic Education</th>
                            <th>Foreign Language Code</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% if @student_score.present? %>
                            <tr>
                              <td><%= @student_score&.sbd %></td>
                              <td><%= @student_score&.toan %></td>
                              <td><%= @student_score&.ngu_van %></td>
                              <td><%= @student_score&.ngoai_ngu %></td>
                              <td><%= @student_score&.vat_li %></td>
                              <td><%= @student_score&.hoa_hoc %></td>
                              <td><%= @student_score&.sinh_hoc %></td>
                              <td><%= @student_score&.lich_su %></td>
                              <td><%= @student_score&.dia_li %></td>
                              <td><%= @student_score&.gdcd %></td>
                              <td><%= @student_score&.ma_ngoai_ngu %></td>
                            </tr>
                            <% else %>
                            <tr>
                              <td colspan="11" class="text-center">Please input valid Registration ID</td>
                            </tr>
                            <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--end::Student Scores Table-->
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->